main 
{
    border-color: #C0C0C0;
    border-width: 1px;
    border-style: none solid;
    background-color: rgba(255, 255, 255, 0);
    margin-top: 4%;
    width: 90%;
    height: 86%;
    padding: 0 5%;
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}

main > div
{
    border-color: #C0C0C0;
    border-width: 1px;
    border-style: none solid;
    border-radius: 3px;
    height: 100%;
    width: 27%;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    overflow:auto;
}
main > div:first-child, main > div:last-child
{
    overflow: hidden;
}
main:after 
{
    content: '';
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

#settings > form > div
{
    margin: 10px 0;
}

.ui-widget-content .ui-state-highlight,
.ui-widget-content {
    	background: none;   
}

.half {
    width: 25%;
    display: inline-block;
}

#settings > form > div {
    width: 99%;
}

#settings > form > #openbaarvervoer > label, 
#settings > form > #address > label  {
    width: 33.3%;
    display: inline-block;
    height: 30px;
    line-height: 150%
}
#settings > form > #vervoer > label {
    width: 50%;
    display: inline-block;
}
#settings > form > div > input {
    width: 65%;
    display: inline-block;
    float: right;
    height: 30px;
    margin-bottom: 10px;
}

#settings > form > #save > input[type=submit] {
    width: 100%;
    height: 30px;
}

