body
{
    font-family: 'Open Sans', sans-serif;
    color: #4D4D4D;
    background-image: url("../img/bg_test.png");
    background-size: cover;
    line-height: 120%;
}
.right
{
    float: right;
}
.text_right
{
    text-align: right;
}
.center
{
    text-align: center;
}
.justify
{
    text-align:justify;
}
.fat
{
    font-weight: bold;
    display: inline;
}
.clear {
    clear: both;
}
